= f.input :name
= f.input :title
= f.input :description, :as => :text, :input_html => { :rows => 3 , :style => 'width: 100%'}
= f.input :enabled, :as => :select
= f.input :visible_client, :as => :select
= f.input :need_notify, :as => :select