!!! Strict
%html
  %head
    -#= meta_tags

    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    = stylesheet_link_tag    "bootstrap", media: "all"
    = stylesheet_link_tag    "ours/tpl", media: "all"
    = javascript_include_tag :application

    = csrf_meta_tag

    = yield(:head)

    <link href='https://fonts.googleapis.com/css?family=Source+Code+Pro' rel='stylesheet' type='text/css'>


    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300' rel='stylesheet' type='text/css'>


    =render "shared/head_icons"
  %body
    = yield
